@import "src/assets/sass/variables";
$buttonColor: rgba(10, 120, 150, 1);
$buttonSize: 60px;
$buttonActiveSize: 160px;
$buttonMargin: -12px;

.scene_nav {
  position: relative;
  transition: 1000ms;

  &_list {
    display: flex;
    margin: 0;
    padding: 0;
    transform: scaleY(0.6);
  }

  &_item {
    display: block;

    &:nth-child(even) {
      transform: scaleY(-1);
      button {
        span {
          display: inline-block;
          transform: scaleY(-1.4);
        }
      }
    }

    &:not(:first-child) {
      margin-left: $buttonMargin;
    }
  }

  &_button {
    display: block;
    width: $buttonSize;
    height: $buttonSize;
    margin: 0;
    padding: 0;
    border: none;
    background: $buttonColor;
    outline: none;
    transition: 500ms;
    clip-path: polygon(
      $buttonSize / 2 0,
      calc(100% - #{$buttonSize / 2}) 0,
      100% 100%,
      0 100%
    );

    span {
      display: inline-block;
      transform: scaleY(1.4);
      color: $mainColor;
      &.icon {
        margin-top: 16px;
      }
    }

    &.o-active {
      width: $buttonActiveSize;
      background: $keyColor;
    }

    &:hover {
      background: $keyColor;
    }
  }
}