.form {
  color: $keyColor;

  .form-control {
    border-radius: 0;
    border: 1px $keyColor solid;
    background-color: $background-color;
    color: $keyColor;
    &:focus {
      border: 1px $keyColor solid;
      color: $keyColor;
      background-color: $background-color;
    }

    .form-text {
      color: $secondaryColor;
    }
  }

  .form-check-input {
    background-color: $background-color;
    border: 1px $keyColor solid;

    &[type="checkbox"],  &[type="radio"] {
      color: $keyColor;
      border: 1px $keyColor solid;
      background-color: $background-color;
      &:checked {
        color: $keyColor;
        border: 1px $keyColor solid;
        background-color: $background-color;
      }
    }

    &[type="checkbox"] {
      border-radius: 0;
    }
  }
}