.modal {
  &-content {
    border-radius: 0;
    border-color: $btn-border-color;
    background-color: $background-color-modal;
  }

  &-header, &-footer {
    border-color: $btn-border-color;
  }

  .btn-close {
    color: $keyColor;
  }

  &-body {
    color: $primaryColor;
  }
}