body {
    font-family: 'Source Code Pro', 'Noto Sans JP', sans-serif;
    cursor: url('~@/assets/images/cursors/Arrow.cur'), auto;
}
button {
   :not(:disabled) {
     cursor: url('~@/assets/images/cursors/Hand.cur'), pointer;
   }
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: url('~@/assets/images/cursors/Hand.cur'), pointer;
}

button:disabled, [type="button"]:disabled, [type="reset"]:disabled, [type="submit"]:disabled {
  cursor: url('~@/assets/images/cursors/NO.cur'), no-drop;
}

h1, h2, h3, h4, h5 {
color: $keyColor;
}
p {
color: $primaryColor;
}

label {
  cursor: url('~@/assets/images/cursors/Handwriting.cur'), auto;
}

input, textarea, h1, h2, h3, h4, h5, p {
  cursor: url('~@/assets/images/cursors/IBeam.cur'), text;
  &[type="checkbox"], &[type="radio"] {
    cursor: url('~@/assets/images/cursors/Arrow.cur'), auto;
  }
}
