$logo-size: 3.6em;
$logo-size-sm: 2.6em;
.logo {
  transition: 1000ms;
  h1 {
    font: $logo-size 'Press Start 2P', cursive;
    @include media-breakpoint-down(sm) {
      font: $logo-size-sm 'Press Start 2P', cursive !important;
    }
    display: flex;
    align-items: center;
    margin: 0;
    color: $keyColor;

    span {
      margin-top: 6px;
    }

    .memo {
      display: inline-block;
      padding: 1px;
      position: relative;
      box-sizing: inherit;
      margin-left: 4px;
      background: none;
      border: none;
      color: $keyColor;

      &_left {
        top: 50%;
        left: 0;
        height: 100%;
        transform: translate(0, -50%);
        border-width: 0 0 0 1px;
      }

      &_right {
        top: 50%;
        right: 0;
        height: 100%;
        transform: translate(0, -50%);
        border-width: 0 0 0 1px;
      }

      &_top {
        top: 0;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
        border-width: 1px 0 0 0;
      }

      &_bottom {
        left: 50%;
        width: 100%;
        bottom: 0;
        transform: translate(-50%, 0);
        border-width: 1px 0 0 0;
      }

      .line {
        border-color: $btn-border-color;
        box-shadow: 0 0 4px $btn-box-shadow-color;
        z-index: 1;
        opacity: 0;
        position: absolute;
        transition: all 250ms ease-in;
        border-style: solid;
      }

      &_corner {
        width: 20px;
        height: 20px;
        border-color: $btn-corner-border-color;
        box-shadow: 0 0 4px -2px $btn-corner-color;
        z-index: 2;
        opacity: 0;
        position: absolute;
        transition: all 250ms ease-in;
        border-style: solid;
      }

      .left_top {
        left: -2px;
        top: -2px;
        border-width: 2px 0 0 2px;
      }

      .left_bottom {
        left: -2px;
        bottom: -2px;
        border-width: 0 0 2px 2px;
      }

      .right_top {
        right: -2px;
        top: -2px;
        border-width: 2px 2px 0 0;
      }

      .right_bottom {
        right: -2px;
        bottom: -2px;
        border-width: 0 2px 2px 0;
      }

      &_word {
        display: block;

        &_bg {
          background-color: $background-color;
          z-index: 3;
          display: block;
          position: relative;
          overflow: hidden;
          transition: background-color 250ms ease-in;
          :hover {
            background-color: $keyColor;
            color: $background-color;
          }
        }

        &_text {
          padding: 8px 18px 11px 22px;
          font: 0.44em 'Press Start 2P', cursive;
        }
      }
    }
  }
}