$darkColor: #090a0f;
$mainColor: #1b2735;
$keyColor: #26dafd;
$primaryColor: rgba(10, 120, 150, 1);
$background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
$background-color: rgba(4,35,41,0.65);
$btn-border-color: #029dbb;
$btn-box-shadow-color: rgba(2,157,187,0.65);
$btn-corner-color: rgba(38,218,253,0.65);
$btn-corner-border-color: #26dafd;