/* === フォントをインポート === */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Press+Start+2P&family=Source+Code+Pro:wght@600&display=swap');

/* === 関数および機能をインポート === */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* === 変数および定義をインポート === */
@import "variables";

/* === Bootstrapなどのライブラリをインポート === */
@import "~bootstrap/scss/bootstrap";


/* === カスタムStyle === */
@import "base";
@import "animation";
@import "logo";
@import "components/buttons";
@import "components/forms";
@import "components/text";
@import "components/modal";
@import "components/alert";
@import "components/card";
@import "components/badge";